*,
::before,
::after {
  font-family: sans-serif;
  font: 1em sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(1, 1, 3, 0.897);
}

main {
  margin: 500px;
  margin-top: 50px;
  background-color: black;
  box-shadow: 0px 0px 10px 1px rgb(192, 192, 192), 0px 0px 50px 50px black;
  border-radius: 10px;
  color: orangered;
  padding: 30px;
}

h1 {
  animation: ease-in-out infinite h1Start 3s,
    alternate-reverse infinite h1StartColor 10s;
  font-size: 60px;
  color: rgb(0, 60, 255);
  line-height: 30px;
  text-align: center;
}

h1 span {
  font-size: 20px;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
}

a {
  color: orangered;
  text-decoration: none;
  background-color: rgb(34, 34, 34);
}

li {
  margin-top: 5px;
  list-style-type: circle;
}

@keyframes h1Start {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes h1StartColor {
  0% {
    color: rgb(0, 255, 128);
  }
  50% {
    color: rgb(0, 152, 199);
  }
  100% {
    color: rgb(199, 0, 199);
  }
}
